@media (max-width:768px){
    .desktopbanner, .tabbanner{
        display: none;
    }

    .mobbanner{
        display: block;
        overflow: hidden;
    }
    .mobbanner> header {
        width: 100%; 
        height: auto;
        background: linear-gradient(to right, rgba(69, 104, 220, 16), rgba(176, 106, 179, 0.2)), url(../images/pexels-christina-morillo-1181396.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .mobbanner nav {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    
    nav .logo img {
        display:flexbox;
        flex-direction: column;
        width: 70%;
        padding: 20px;
    
    }
    
    nav ul li{
        display:block;
        padding: 5px;
        margin: 10px;
        font-size: 20px;
    }
    
    nav ul li a{
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        color: #fff;
    }

    .mobbanner .content{
        display: flex;
        flex-direction: column;
    }

    .mobbanner .pic img{
        flex-direction: column;
        width: 70%;
        margin: 40px;
        padding: 20px;
        border-radius:70% 30% 18% 82% / 53% 41% 59% 47% ;
    }
    

     .about1{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .service{
        height: auto;
    }

   .service1{
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 20px;
        gap: 10%;
    }

    .client1{
        display: flex;
        flex-direction: column;
        gap:10%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .client1 img{
        padding: 20px;
        margin: 30px;
        border-radius: 40%;
        width: 20%;
        height: 10vh;
        background-color: white ;
        font-size: 50%;
       
    }

    .client2{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: space-around;
    }

    .svg{
        display: flex;
        flex-direction: column;
        gap: 20%;
        padding: 20px;
        margin: 20px;
    }

    .hire{
        height: auto;
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .info p{
        font-size: 1vh;
        color: red;
    }

    .collect{
        width: 100%;
        background: whitesmoke; 
        padding: 50px;
        position: relative;
    }

    .footer1{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    
   

   

} 

/* TAB  */

@media(min-width:769px) and (max-width:1200px){
    .desktopbanner{
        display: none;
    }    
    .tabbanner{
        display: block;
        overflow: hidden;
        position: relative;
    }
    .tabbanner>header{
        width: 100%; 
        height: auto;
        background: linear-gradient(to right, rgba(69, 104, 220, 16), rgba(176, 106, 179, 0.2)), url(../images/pexels-christina-morillo-1181396.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .tabbanner nav {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    
    nav .logo img {
        display:flexbox;
        flex-direction: column;
        width: 70%;
        padding: 20px;
    
    }
    
    nav ul li{
        display:inline-block;
        padding: 5px;
        margin: 10px;
        font-size: 20px;
    }
    
    nav ul li a{
        text-decoration: none;
        margin: 10px;
        padding: 10px;
        color: #fff;
    }
    .tabbanner .content{
        display: flex;
        
    }
    .content input{ 
        width: 25%;
        height: 4.5vh;
        border-radius: 20px;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
        background: yellow;
        font-size: 1rem;
    }

   .pic img{
        width: 70%;
        margin: 40px;
        padding: 20px;
        border-radius:70% 30% 18% 82% / 53% 41% 59% 47% ;
        position: relative;
    }
    

    .about1{
        display: flex;
        margin: 10px;
        height: auto;
    }

    .about img{
        width: 100%;
        height: auto;
        margin:10px;
    }

   .service1{
        display: flex;
        padding: 20px;
        margin: 20px;
        gap: 10%;
        height: auto;
    }

    .client1{
        display: flex;
        gap:10%;
        padding: 10px;
       
    }

    .client2{
        display: flex;
        padding: 10px;
        align-content: center;
        justify-content: center;
        
    }

    .svg{
        display: flex;
        gap: 20%;
        padding: 20px;
        margin: 20px;
    }

    .svg img{
       align-content: center;
        justify-content: space-between;
    }

    .info{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
    
    }

    .collect{
        width: 100%;
        background: whitesmoke; 
        padding: 50px;
        position: relative;
    }

    .footer1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
}